/* BASIC BACKDROP */
.all {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #212121;
  /* color: #f2f2f2; */
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.5);
}

/* Title Font */
@font-face {
  font-family: header;
  src: url(../fonts/Blacklisted.ttf);
}
