beautifulsoup4==4.6.0
certifi==2019.6.16
chardet==3.0.4
Django==2.2.4
django-extensions==2.1.9
django-modelcluster==4.4
django-taggit==0.24.0
django-treebeard==4.3
django-widget-tweaks==1.4.5
djangorestframework==3.9.4
draftjs-exporter==2.1.6
entrypoints==0.3
flake8==3.7.7
html5lib==1.0.1
idna==2.8
mccabe==0.6.1
mysqlclient==1.4.2.post1
Pillow==5.4.1
pycodestyle==2.5.0
pyflakes==2.1.1
python-dotenv==0.10.3
pytz==2019.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
Unidecode==1.1.0
urllib3==1.25.3
wagtail==2.5.1
webencodings==0.5.1
Willow==1.1