aenv/
writing/db.sqlite3
writing/Dockerfile
writing/writing/__pycache__
writing/home/__pycache__
writing/index/__pycache__
writing/search/__pycache__
writing/.env
Dockerfile
.vscode
.gitignore
secret.txt
to-do.rtf

__pycache__/