/* SPLASH MOBILE */
@media (max-width: 768px) {
  .splash {
    flex-direction: column;
    justify-content: space-around;
  }

  .divider {
    border-right: 0px solid #630000;
    border-bottom: 3px solid #630000;
    width: 70vw;
    height: 0vh;
  }

  .about-links {
    margin: 20px 10px 70px 8px;
  }


}
