@media (max-width: 768px) {
  .all {
    flex-direction: column;
  }

  .story {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .story section, aside {
    width: 100%;
    margin-bottom: 30px;
  }

  .si-main {
    margin-bottom: 10%;
  }
}
