{% extends "index/content_base.html" %}

{% load static wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block more_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/work-main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/work-main-mob.css' %}">
{% endblock %}

{% block menu-heading %}
  Site Content
{% endblock %}

{% block main-section %}
    <section class="container sm-main">

      <section class="hero">
        <div class="hero-body">
          <h1 class="site-header display-header">{{ page.title }}</h1>
          {{ page.tagline|richtext }}
          <h2 class="display-sub">
            <p>Published: {{ page.published_date }}</p>
          </h2>
        </div>
      </section>

      <section class="meta">
        <div class="meta-sub">
          <h4 class="site-header display-sub">Categories</h4>
          {% with categories=page.categories.all %}
              {% if categories %}
                  <div class="columns is-multiline">
                    {% for category in categories %}
                      <div class="column is-quarter">
                        <a href="{% slugurl 'categories' %}?category={{ category }}" class="sub-link">{{ category.name }}</a>
                      </div>
                    {% endfor %}
                  </div>
              {% endif %}
          {% endwith %}
        </div>
        <div class="meta-sub">
          <h4 class="site-header display-sub">Tags</h4>
          {% with tags=page.tags.all %}
              {% if tags %}
                  <div class="columns is-multiline">
                    {% for tag in tags %}
                      <div class="column is-quarter">
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="sub-link">{{ tag }}</a>
                      </div>
                    {% endfor %}
                  </div>
              {% endif %}
          {% endwith %}
        </div>
      </section>

      <section class="work-content">
        {% for block in page.body %}
          <section class="work-{{ block.block_type }} work-content">
            {% if block.block_type == 'image' %}
              {% image block.value width-400 %}
            {% elif block.block_type == 'intro' %}
              <article>
                {% include_block block %}
              </article>
            {% else %}
              <article>
                {% include_block block %}
              </article>
          {% endif %}
          </section>
        {% endfor %}
      </section>

      <p><a href="{{ page.get_parent.url }}" class="text-link dark-link">Return to blog</a></p>
    </section>

{% endblock %}
