{% extends "index/content_base.html" %}

{% load static wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block more_css %}
  <link rel="stylesheet" href="{% static 'css/desktop/chapter.css' %}">
  <link rel="stylesheet" href="{% static 'css/mobile/chapter-mob.css' %}">
{% endblock %}

{% block menu-heading %}
  Chapters
{% endblock %}

{% block main-section %}
  <section class="container chapter-main">

    <section class="hero">
      <div class="hero-body">
        <h1 class="site-header display-header">{{ page.title }}</h1>
        <h2 class="display-sub">
          Published: {{ page.published_date }}
        </h2>
      </div>
    </section>

    <section class="meta">
      <div class="meta-sub">
        <h4 class="site-header display-sub">Tags</h4>
        {% with tags=page.tags.all %}
            {% if tags %}
                <div class="columns is-multiline">
                  {% for tag in tags %}
                    <div class="column is-quarter">
                      <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="sub-link">{{ tag }}</a>
                    </div>
                  {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
      </div>
    </section>

    <section class="chapter">
      {{ page.body|richtext }}
    </section>


{% endblock %}

{% block end-section %}
    <section class="chapter-controls">
      <div class="chapter-option">
        {% if page.get_prev_sibling %}
          <a href="{{ page.get_prev_sibling.url }}" class="text-link dark-link">Previous</a>
        {% endif %}
      </div>
      <div class="chapter-option">
        <a href="{{ page.get_parent.url }}" class="text-link dark-link">Return</a>
      </div>
      <div class="chapter-option">
        {% if page.get_next_sibling %}
          <a href="{{ page.get_next_sibling.url }}" class="text-link dark-link">Next</a>
        {% endif %}
      </div>
    </section>
  </section>
{% endblock %}
