{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/chapter.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/chapter-mob.css' %}">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  <section class="container chapter-main">

    <section class="hero">
      <div class="hero-body">
        <h1 class="site-header display-header">{{ page.title }}</h1>
        <h2 class="display-sub">
          Published: {{ page.published_date }}
        </h2>
      </div>
    </section>

    <section class="meta">
      <div class="meta-sub">
        <h4 class="site-header display-sub">Categories</h4>
        {% with categories=page.categories.all %}
            {% if categories %}
                <div class="columns is-multiline">
                  {% for category in categories %}
                    <div class="column is-quarter">
                      <a href="{% slugurl 'categories' %}?tag={{ category }}">{{ category.name }}</a>
                    </div>
                  {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
      </div>
      <div class="meta-sub">
        <h4 class="site-header display-sub">Tags</h4>
        {% with tags=page.tags.all %}
            {% if tags %}
                <div class="columns is-multiline">
                  {% for tag in tags %}
                    <div class="column is-quarter">
                      <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                    </div>
                  {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
      </div>
    </section>

    <section class="chapter">
      {{ page.body|richtext }}

      <div class="chapter-control">
        <button class="button chapter-toggle">Menu <i class="fas fa-book"></i></button>
      </div>

    </section>

    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content" style="background-color: white;">
        <nav class="panel">
          <p class="panel-heading site-header">
            Chapters
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" id="chapter-search" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <p class="panel-tabs">
            <a>All</a>
            {% for story in page.get_parent.get_siblings %}
              {% if story.title == page.get_parent.title %}
                <a class="is-active">{{ story.title }}</a>
              {% else %}
                <a>{{ story.title }}</a>
              {% endif %}
            {% endfor %}
          </p>
          <section class="all-chapters">
            {% for story in page.get_parent.get_siblings %}
              <div class="story" id="{{ story.title }}">
                {% for chapter in story.get_children %}
                  {% if chapter.title == page.title and chapter.get_parent.title == page.get_parent.title %}
                    <a class="panel-block is-active" href="{% pageurl chapter %}">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      {{ chapter.title }}
                    </a>
                  {% else %}
                    <a class="panel-block" href="{% pageurl chapter %}">
                      <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      {{ chapter.title }}
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          </section>

          <div class="panel-block">
            <button class="button chapter-toggle">
              Close
            </button>
          </div>
        </nav>
      </div>
    </div>

    <section class="chapter-controls">
      <div class="chapter-option">
        {% if page.get_prev_sibling %}
          <a href="{{ page.get_prev_sibling.url }}" class="text-link dark-link">Previous</a>
        {% endif %}
      </div>
      <div class="chapter-option">
        <a href="{{ page.get_parent.url }}" class="text-link dark-link">Return</a>
      </div>
      <div class="chapter-option">
        {% if page.get_next_sibling %}
          <a href="{{ page.get_next_sibling.url }}" class="text-link dark-link">Next</a>
        {% endif %}
      </div>
    </section>
  </section>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock %}
