{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.published_date }}</p>

    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}

    <div class="intro">{{ page.synopsis }}</div>

    {% for item in page.story_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    {% for chapter in chapters %}
        <h2><a href="{% pageurl chapter %}">{{ chapter.title }}</a></h2>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to index</a></p>

{% endblock %}
