{% extends "base.html" %}

{% load static wagtailcore_tags widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/work-index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/work-index-mob.css' %}">
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  <section class="container si-main">

    <section class="hero">
      <div class="hero-body">
        <h1 class="site-header display-header">{{ page.title }}</h1>
        <h2 class="display-sub">
          {{ page.intro|richtext }}
        </h2>
      </div>
    </section>


    <section class="si-body columns is-multiline">
      {% for story in stories %}
        {% with story=story.specific %}
          <section class="column is-full story">

            <aside class="menu">
              <p class="menu-label">
                <!-- {{ story.title }} -->
                <!-- {{ forloop.counter }} -->
                {{ story.last_published_at }}
              </p>
              <ul class="menu-list">
                <li><a href="{{ story.url }}" class="story-link">About</a></li>
                <li><a href="{{ story.url }}#chapters" class="story-link">Chapters</a></li>
                <li><a href="{{ story.get_children.first.url }}" class="story-link">Read</a></li>
              </ul>
            </aside>

            <article class="stories-syn">
              <h4 class="site-header stories-header">{{ story.title }}</h4>
              {{ story.synopsis|richtext }}
            </article>

            <!-- <section class="stories-org"> -->
              <section class="stories-categories">
                <h4 class="site-header stories-header">Categories</h4>
                {% with categories=story.categories.all %}
                    {% if categories %}
                        <ul>
                          {% for category in categories %}
                              <li>
                                  <a href="{% slugurl 'categories' %}?category={{ category }}" class="sub-link">{{ category }}</a>
                              </li>
                          {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
              </section>

              <section class="stories-tags">
                <h4 class="site-header stories-header">Tags</h4>
                {% with tags=story.tags.all %}
                    {% if tags %}
                        <ul>
                          {% for tag in tags %}
                              <li>
                                  <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="sub-link">{{ tag }}</a>
                              </li>
                          {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
              </section>
            <!-- </section> -->

        </section>
        {% endwith %}
      {% endfor %}
    </section>

    <section class="return">
      <a href="{{ page.get_parent.url }}" class="text-link dark-link">Return to Work</a>
    </section>
  </section>
{% endblock %}
