{% extends "index/meta_base.html" %}
{% load static wagtailcore_tags %}

{% block header %}
  {% if request.GET.tag|length %}
    <section class="hero">
      <div class="hero-body">
        <h1 class="site-header display-header">Browse Tagged Work</h1>
        <h2 class="display-sub">
          Tag: {{ request.GET.tag }}
        </h2>
      </div>
    </section>
  {% else %}
    <section class="hero">
      <div class="hero-body">
        <h1 class="site-header display-header">Browse Tagged Work</h1>
        <h2 class="display-sub">
          Tag: {{ request.GET.tag }}
        </h2>
      </div>
    </section>
  {% endif %}
{% endblock %}
