{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/about.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/home-mob.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/about-mob.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/misc/glitch.css' %}">
{% endblock %}

{% block show_nav %}
  false
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <section class="splash" id="home">
    <section class="site-logo animated fadeIn">
      <div class="glitch site-header" data-text="SURREAL">
        SURREAL <span>HILL</span>
      </div>
      <a href="#about" class="animated fadeIn delay-1s"><img src="/media/images/more2.png/" class="splash-more"></a>
    </section>
    <div class="divider animated fadeIn"></div>
    <section class="splash-menu animated fadeIn">
      <ul>
        {% for sub in page.get_children %}
          <li>
            <a href="{% pageurl sub %}" class="text-link">{{ sub }}</a>
          </li>
        {% endfor %}
        <li><a href="/#about" class="text-link">About</a></li>
      </ul>
    </section>
  </section>

  <section class="about" id="about">
    <nav class="sidebar">
      <div class="sidebar-links">
        <ul>
          <a href="#home" class="sidebar-link">Home</a>
          <li><a href="/#about" class="sidebar-link">About</a></li>
          {% for sub in page.get_children %}
            <li>
              <a href="{% pageurl sub %}" class="sidebar-link">{{ sub }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div class="hero">
      <section class="home-title hero">
        <div class="hero-body">
          <h1 class="site-header title is-1 display-header">{{ page.tagline|richtext }}</h1>
        </div>
      </section>
      {% for block in page.body %}
        <section class="about-{{ block.block_type }} about-content">
          {% if block.block_type == 'image' %}
            {% image block.value width-400 %}
          {% elif block.block_type == 'header' %}
            <h4 class="site-header">{% include_block block %}</h4>
          {% else %}
            <article>
              {% include_block block %}
            </article>
        {% endif %}
        </section>
      {% endfor %}

      <section class="about-foot">
        <a href="#home" class="about-links site-header">Home</a>
        {% for sub in page.get_children %}
          <a href="{% pageurl sub %}" class="about-links site-header">{{ sub }}</a>
        {% endfor %}
        <a href="#about" class="about-links site-header">Top</a>
      </section>
    </div>
  </section>

{% endblock %}
