{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/work.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/work-mob.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <section class="work-main">

    <section class="hero">
      <div class="hero-body">
        <h1 class="site-header display-header">{{ page.title }}</h1>
        <h2 class="display-sub">{{ page.summary|richtext }}</h2>
      </div>
    </section>

    <section class="work-body columns">
      <section class="column work-sub">

        <section class="blog-body">
          {% for block in page.blog %}
            <section class="blog-{{ block.block_type }}">
              {% if block.block_type == 'image' %}
                {% image block.value height-100px %}
              {% elif block.block_type == 'heading' %}
                <h2 class="site-header">{% include_block block %}</h2>
              {% else %}
                <article class="block-p">
                  {% include_block block %}
                </article>
            {% endif %}
            </section>
          {% endfor %}
        </section>

        <a href="/work/articles/" class="text-link dark-link">Read Articles</a>

      </section>

      <section class="column work-sub mob-margin">

        <section class="stories-body">
          {% for block in page.stories %}
            <section class="stories-{{ block.block_type }}">
              {% if block.block_type == 'image' %}
                {% image block.value height-100px %}
              {% elif block.block_type == 'heading' %}
                <h4 class="site-header title-header">{% include_block block %}</h4>
              {% else %}
                <article>
                  {% include_block block %}
                </article>
            {% endif %}
            </section>
          {% endfor %}
        </section>

        <a href="/work/stories/" class="text-link dark-link">Read Stories</a>

      </section>
    </section>

  </section>

{% endblock %}
