{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/work.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/work-mob.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
  <section class="container">
    <section class="work-header hero">
      <div class="hero-body">
        <h1 class="site-header display-header hero-">{{ page.title }}</h1>
        <h2 class="display-sub">{{ page.summary|richtext }}</h2>
      </div>
    </section>

    <section class="work-body">
      <section class="articles">

        <section class="article-header">

        </section>
        <section class="article-body">

        </section>

      </section>

      <section class="stories">
        <section class="stories-header">

        </section>
        <section class="stories-body">

        </section>
      </section>
    </section>
  </section>

{% endblock %}
