/* PAGE LAYOUT */
.all {
  display: flex;
}

.sm-main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
}

.sm-intro {
  padding: 30px 0;
}


/* Message */
.message.is-dark {
    background-color: #fff;
}
