{% extends "base.html" %}

{% load static wagtailcore_tags widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/misc/errors.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/contact.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/contact-mob.css' %}">
{% endblock %}


{% block content %}
    <section class="contact-main">
        <section class="hero">
        <div class="hero-body">
            <div class="container">
            <h1 class="site-header display-header">Error! {% block code %} {% endblock %}</h1>
            <h2 class="display-sub">
                <p class="is-size-5">
                    {% block message %} {% endblock %}
                </p>
            </h2>
            </div>
        </div>
        </section>

        <div class="extra">
            <p class="is-size-5">Is this error valid?</p>
            <p class="is-size-5">If not, please raise an issue on <a href="https://github.com/todaatsushi/surreal_hill">GitHub</a>.</p>
        </div>
    </section>
{% endblock %}