{% extends "base.html" %}

{% load static wagtailcore_tags widget_tweaks %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/desktop/about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mobile/about-mob.css' %}">
{% endblock %}


{% block content %}
    {% block message %}{% endblock %}

    <section class="about-foot">
        <a href="/#home" class="sidebar-link">
            <span class="full-menu">Home</span>
            <span class="mob-menu"><i class="fas fa-home"></i></span>
        </a>
        <a href="/#about" class="sidebar-link">
            <span class="full-menu">About</span>
            <span class="mob-menu"><i class="fas fa-info"></i></span>
        </a>
        <a href="{% slugurl 'contact' %}" class="sidebar-link">
            <span class="full-menu">Contact</span>
            <span class="mob-menu"><i class="far fa-envelope"></i></span>
        </a>
        <a href="{% slugurl 'work' %}" class="sidebar-link">
            <span class="full-menu">Work</span>
            <span class="mob-menu"><i class="fas fa-book"></i></span>
        </a>
    </section>
{% endblock %}
